{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Book' %}: {{ object.title }}{% endblock %}

{% block content %}
<h3>{{ object.title }}</h3>
<div class="row">
  <div class="col-sm-12">
    <dl class="dl-horizontal">
      <dt>Title:</dt>
      <dd>{{ object.title }}</dd>
      <dt>ISBN:</dt>
      <dd>{{ object.isbn }}</dd>
      <dt>Publisher:</dt>
      <dd>{{ object.publisher }}</dd>
      <dt>Author:</dt>
      <dd>{{ object.author }}</dd>
      <dt>Total Pages:</dt>
      <dd>{{ object.pages }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
